*{
	border: none;
	font-family: 'JetBrainsMono Nerd Font Mono Bold';
	font-size: 14px;	
	color: #ffffff;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}	
window#waybar{
	background: transparent; 
	margin: 6px;
  border-radius: 0px;
  border: 2px solid #a89984;
}
#custom-arch,
#workspaces,
#clock {
	color: #fcf1c7;
	margin-left: 5px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 5px;
  margin-top: 2px;
}
#network{
	padding-right:10px;
}
#custom-arch{
  padding-left: 10px;
}
#pulseaudio{
  padding-right: 10px;
  padding-top: 2px;
  color: #fcf1c7;
}
#clock{
  margin-left: 10px;
  padding-top: 3px;
  font-weight: bold;
}
#memory{
  padding-left: 3px;
  margin-top:2px;
  color: #fcf1c7;
  font-weight: bold;
}
#workspaces button {
  padding: 0px 7px;
  font-weight: bold;
  transition: background 0.2s ease;
  color: transparent;
}

