*{
	border: none;
	font-family: 'JetBrainsMono Nerd Font Mono Bold';
	font-size: 14px;	
	color: #ffffff;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}	
window#waybar{
	background: rgba(1, 1, 1, 0.7);
	border: 2px solid #6d7178; 
	margin: 6px;
  border-radius: 5px;
}
#custom-arch,
#workspaces,
#clock {
	color: #ffffff;
	margin-left: 5px;
	margin-right: 10px;
	padding-right: 10px;
	padding-left: 5px;
}
#network{
	padding-right:10px;
}
#custom-arch{
  padding-left: 10px;
}
#pulseaudio{
  padding-right: 10px;
  padding-top: 2px;
  color: #ffffff;
}
#clock{
  padding-top: 3px;
  font-weight: bold;
}
#memory{
  padding-left: 3px;
  font-weight: bold;
}
#workspaces button {
  padding: 4px 8px;
  font-weight: bold;
  transition: background 0.2s ease;

}
#workspaces button.active {
  background: rgba(119, 112, 116, 0.28);

}

